.block
  %ul
    %li.system
      - text= content_tag :span, '&laquo; Назад в личный кабинет', :class=>:bar
      = link_to text, cabinet_users_url(:subdomain=>current_user.subdomain)
    %li.system
      - text= content_tag :span, '&laquo; К дереву страниц', :class=>:bar
      = link_to text,  manager_pages_path(:subdomain=>@user.subdomain)