.editor_buttons
	=image_tag('editor/img.gif',     :onclick=>"javascript:insertFormatTeg3('page_content', 'img');", :alt=>'Картинка' ) 
	=image_tag('editor/file.gif',    :onclick=>"javascript:insertFormatTeg3('page_content', 'file')", :alt=>'Ссылка на файл' ) 
	=image_tag('editor/web_page.gif',:onclick=>"javascript:insertFormatTeg3('page_content', 'inet')", :alt=>'Ссылка&nbsp;на&nbsp;Web&nbsp;страницу' ) 
	=image_tag('editor/email.gif',   :onclick=>"javascript:insertFormatTeg3('page_content', 'email')", :alt=>'Электронная почта' ) 
	=image_tag('editor/p.gif',       :onclick=>"javascript:insertFormatTeg3('page_content', 'p')", :alt=>'Абзац' ) 
	=image_tag('editor/br.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'br')", :alt=>'Следующая строка' ) 
	=image_tag('editor/hr.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'hr')", :alt=>'Горизонтальная&nbsp;черта' ) 
	=image_tag('editor/center.gif',  :onclick=>"javascript:insertFormatTeg3('page_content', 'center')", :alt=>'Центровка' ) 
	=image_tag('editor/bold.gif',    :onclick=>"javascript:insertFormatTeg3('page_content', 'b')", :alt=>'Жирный шрифт' ) 
	=image_tag('editor/it.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'i')", :alt=>'Курсив' ) 
	=image_tag('editor/u.gif',       :onclick=>"javascript:insertFormatTeg3('page_content', 'u')", :alt=>'Подчеркнутый' ) 
	=image_tag('editor/ol.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'ol')", :alt=>'Нумерованый список' ) 	
	=image_tag('editor/ul.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'ul')", :alt=>'Маркированый список' ) 		

	=image_tag('editor/h1.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'h1')", :alt=>'Заголовок 1 уровень' ) 
	=image_tag('editor/h2.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'h2')", :alt=>'Заголовок 2 уровень' ) 
	=image_tag('editor/h3.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'h3')", :alt=>'Заголовок 3 уровень' ) 	
	=image_tag('editor/h4.gif',      :onclick=>"javascript:insertFormatTeg3('page_content', 'h4')", :alt=>'Заголовок 4 уровень' ) 