.edit_form{
  border:5px solid #DDD;
  margin:0;
  padding: 5px;
  margin:0 0 30px 0;
}
.edit_form h3{
  margin:0 0 10px 0;
}
.edit_form h5{
  background:#EEEEEE none repeat scroll 0 0;
  font-size:9pt;
  padding:3px;
}
.edit_form h5.gray{
  color:#888;
  margin:0 0 10px 0;
}
.edit_form p{
  margin:0 0 7px 0;
  line-height:140%;
}
.edit_form form{
  margin:5px;
}
.edit_form form label{
  display:block;
  margin:0 0 3px 0;
  font-size:8pt;
  font-weight:bold;
}
.edit_form form strong{
  color:#999;
}
.edit_form form p{
  color:#999;
  font-size:8pt;
  margin:0 0 15px 0;
}
.edit_form form .input{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  padding:2px 0 2px 5px;
  width:75%;
  margin:0 0 15px 0;
}
.edit_form form h5.gray .input{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  margin:0;
  padding:2px 0 2px 5px;
  width:50%;
  display:inline;
}
.edit_form form .check_box{
  margin:0;
}
.edit_form form .textarea_small{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  height:60px;
  padding:5px 0 0 5px;
  width:95%;
  margin:0 0 15px 0;
}
.edit_form form .textarea_work{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  height:550px;
  padding:5px 0 0 5px;
  width:95%;
  margin:0 0 15px 0;
}
.edit_form form .textarea_mid{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  height:600px;
  padding:5px 0 0 5px;
  width:95%;
  margin:0 0 15px 0;
}
.edit_form form .submit{
  width:auto;
}
#html_preview{
  border:2px solid #0C45A6;
  height:550px;
  width:590px;
  overflow-y:scroll;
  overflow-x:auto;
  margin:0 0 10px 0;
}
.edit_form .button_block{
  margin:0 0 7px 0;
}
#markup_help_block{
  background:none repeat scroll 0 0 #EEFFEE;
  border:1px solid #66BB66;
  margin-bottom:10px;
  padding:10px;
  line-height:170%;
}
#markup_man_hide_link, #markup_man_show_link, #markup_man{
  line-height:170%;
}
#markup_help_block a{color:#512BFF;}
#markup_man{
  padding-top:10px;
}

#markup_man table.help_content{
  background:#FFF;
  border:2px solid #F00;
  border-collapse:separate;
  border-spacing:3px;
}
#markup_man table td, #markup_man table th{
  padding:5px;
  margin:2px;
  width:30%;
  line-height:130%;
}
#markup_man table .name{
  width:15%;
  font-weight:bold;
}
#markup_man table th{
  background:#BBB;
  font-weight:bold;
}