.menu_tree {
  overflow:hidden;
  zoom:1;
  float:left;
  margin:0;
  padding:0 10px 10px 10px;
  width:205px;
  border-right:1px solid #CCC;
  /*background:#FFF url(/images/basic/23.jpg) no-repeat 50% 0;*/
}
.menu_tree .root a{
	font-weight:bold;
}
.menu_tree .childs{
  margin-left:15px;
}
.menu_tree  a{
	font-size:8pt;
	font-family:Tahoma;
	text-decoration:none;
	background:transparent url(/images/basic/pointer.gif) no-repeat scroll 0 6px;
	padding:0 0 0 8px;
	display:block;
	line-height:150%;
}
.menu_tree  a:hover{
	background:transparent url(/images/basic/pointer_hover.gif) no-repeat scroll 0 6px;
	text-decoration:underne;
	color:#FF3F23;
}