- content_for :navigation_menu do
  .block
    :ruby
      localize={
        :id_of_element=>'код страницы: '
      }
    %ul.menu_tree
      =ans_show_tree(navigation_menu, :idname=>:zip, :localize=>localize)
    
