- unless params[:textile_text].blank?
  .content
    .page
      -str = params[:textile_text].sharps2anchor
      -str = RedCloth.new(str).to_html
      =Sanitize.clean(str, SatitizeRules::Config::CONTENT)
      