- content_for :css do
  =stylesheet_link_tag 'basic/edit_form.css', :media=>'screen'
  
.block
  %ul
    %li.system
      - text= content_tag :span, '&laquo; Назад в личный кабинет', :class=>:bar
      = link_to text, cabinet_users_url(:subdomain=>current_user.subdomain)
    %li.system
      - text= content_tag :span, 'Роли', :class=>:bar
      = link_to text,  admins_roles_path

  = object_errors(@role)

.edit_form.overblock
  %h5
    Создать Роль
  -form_for(@role, :url => admins_roles_path) do |f|
    =render :partial => 'form', :locals => {:f => f, :button=>'Создать'}